In [15]:
'''
DataFrame customers
+-------------+--------+
| Column Name | Type   |
+-------------+--------+
| customer_id | int    |
| name        | object |
| email       | object |
+-------------+--------+
There are some duplicate rows in the DataFrame based on the email column.

Write a solution to remove these duplicate rows and keep only the first occurrence.

The result format is in the following example.

Example 1:
Input:
+-------------+---------+---------------------+
| customer_id | name    | email               |
+-------------+---------+---------------------+
| 1           | Ella    | emily@example.com   |
| 2           | David   | michael@example.com |
| 3           | Zachary | sarah@example.com   |
| 4           | Alice   | john@example.com    |
| 5           | Finn    | john@example.com    |
| 6           | Violet  | alice@example.com   |
+-------------+---------+---------------------+
Output:  
+-------------+---------+---------------------+
| customer_id | name    | email               |
+-------------+---------+---------------------+
| 1           | Ella    | emily@example.com   |
| 2           | David   | michael@example.com |
| 3           | Zachary | sarah@example.com   |
| 4           | Alice   | john@example.com    |
| 6           | Violet  | alice@example.com   |
+-------------+---------+---------------------+
Explanation:
Alic (customer_id = 4) and Finn (customer_id = 5) both use john@example.com, so only the first occurrence of this email is retained.
'''
import pandas as pd;

def dropDuplicateEmails(customers:pd.DataFrame)-> pd.DataFrame:
    return customers.drop_duplicates(subset='email')

In [16]:
# Execution & Calling
customers=[[1,'Ella','emily@example.com ']
,[2,'David','michael@example.com']
,[3,'Zachary','sarah@example.com ']
,[4,'Alice','john@example.com']
,[5,'Finn','john@example.com']
,[6,'Violet','alice@example.com']]

df=pd.DataFrame(customers,columns=['customer_id','name','email'])

dropDuplicateEmails(df)

   customer_id     name                email
0            1     Ella   emily@example.com
1            2    David  michael@example.com
2            3  Zachary   sarah@example.com
3            4    Alice     john@example.com
5            6   Violet    alice@example.com